<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
  <div class="backdrop"></div>
<header class="main-header">

</header>
<div class="form-container">

  <h1>Đăng nhập</h1>
  <form class="login-form" method="POST" action="/">
    <label for="username">Tên đăng nhập:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="password" required><br>
    <label for="password">Xác nhận Mật khẩu:</label>
    <input type="password" id="password1" name="password1" required><br>
    <a class="btn" href="/singup.ejs">Đăng ký</a>
  </form>

</div>
</body>
</html>
